include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft booking
global-exclude *.orig *.pyc *.log *.swp
prune booking/tests/coverage
prune booking/.ropeproject
